<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let panel of panels; let i = index" [expanded]="i == 0">
    <mat-expansion-panel-header>
      <span style="display: flex; flex-wrap: wrap">
        <span class="title">{{panel.title}},</span>
        <span class="subtitle">{{panel.subtitle}},</span>
        <span class="duration">{{panel.from}} - {{panel.to}}</span>
      </span>
    </mat-expansion-panel-header>
    <ul style="text-align:left">
      <li *ngFor="let desc of panel.description">
        {{desc}}
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>