.portfolio-body{
    font-family: Arial;
    max-width: 1000px;
    background-color: #efefef;
    text-align:center;
    margin:0 auto;
}

.header{
    font-size: 50px;
}

.description{
    padding: 0px 10%;
    text-align:left;
    font-size:20px;
}

.title{
    font-weight: bold;
    padding-right:5px;
}

.subtitle{
    padding-right:5px;
}

.duration{
    float:right;
}

.section{
    margin: 25px;
    padding: 25px;
    background:white;
}

.section-header{
    text-align:left;
    width:100%;
}

.contact-buttons{
    margin:5px;
}