<div *ngIf="myPortfolio" class="portfolio-body">
  <div class="header section ">
    <h1 class="lead">
      {{myPortfolio?.name}}
    </h1>
    <div class="description">
      {{myPortfolio?.description}}
    </div>
  </div>

  <div *ngIf="myPortfolio.experiences" class="section">
    <div class="section-header">
      <h3>Work Experiences</h3>
    </div>
    <app-material-panels [panels]="myPortfolio.experiences"></app-material-panels>
  </div>

  <div *ngIf="myPortfolio.education" class="section">
    <div class="section-header">
      <h3>Education</h3>
    </div>
    <app-material-panels [panels]="myPortfolio.education"></app-material-panels>
  </div>

  <div *ngIf="myPortfolio.projects" class="section">
    <div class="section-header">
      <h3>Projects</h3>
    </div>
    <app-material-cards [cards]="myPortfolio.projects"></app-material-cards>
  </div>

  <div class="section">
    <div class="section-header">
      <h3>Contact Me</h3>
    </div>
    <div>
      <a *ngIf="myPortfolio.linkedin" href="{{myPortfolio.linkedin}}" class="contact-buttons" mat-raised-button color="primary">
        <div style="padding-top:5px">
          <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
        </div>
      </a>
      <a *ngIf="myPortfolio.github" href="{{myPortfolio.github}}" class="contact-buttons" mat-raised-button color="primary">
        <div style="padding-top:5px">
          <fa-icon [icon]="faGithub" size="2x"></fa-icon>
        </div>
      </a>
    </div>
  </div>
  <!-- <div>
    <app-space-stats></app-space-stats>
  </div> -->
</div>
