<div class="portfolio-body">
  <div class="header">
    <h1 class="lead">
      Hi, I'm Alex Lam.
    </h1>
    <div class="description">
      I'm a Web Developer in Vancouver, BC, Canada.<br>
      I have 3 years of web development experience, mainly focusing on Angular development.<br>
      I have worked with several enterprise level projects for different companies.<br>
      Feel free to reach out!<br>
      linkedin github
    </div>
  </div>

  <div>
    <app-space-stats></app-space-stats>
  </div>
</div>